# Comparing Depth to Water and Number of Zero Flow Qualitatively

The purpose of this script is to compare basins with increased zero flow with declining groundwater.  We will categorize basins on whether or not DTW or NZF has changed between decades, and compare

In [1]:
# Packages and paths

import os
import numpy as np
import pandas as pd
#import earthpy as et
import scipy.stats as sp
import geopandas as gp
import matplotlib.pyplot as plt

# Local paths
# inputpath = '../../Data/Input/RawData'
inputpath = '../../Data/Input'
outputpath = '../../Data/Output/Local'

# Function to calculate slope using linear regression
def calculate_slope(y):
    x = np.arange(len(y))
    slope, _ = np.polyfit(x, y, 1)
    return slope

In [2]:
# Define a function to label changes
def categorize_change(change, tolerance=0.1):
    if pd.isna(change):
        return "no data"
    elif change > tolerance:
        return "increased"
    elif change < -tolerance:
        return "decreased"
    else:
        return "no change"

# Apply to each column
#qualitative_change = dtw_change.applymap(categorize_change)

In [9]:
filename = outputpath+f'HUC8s_medianDTWChange_2000mfromStreams.csv'
dtw_change = pd.read_csv(filename, index_col='huc8')
del dtw_change['Unnamed: 0']
dtw_change

          80s vs 90s  90s vs 00s  00s vs 10s  10s vs 20s
huc8
15010001    0.000000         NaN         NaN         NaN
15010002         NaN         NaN         NaN         NaN
15010003    4.572000    3.657600    2.133600         NaN
15010004    2.743200    1.219200   11.277600  -13.380720
15010005    8.930640   27.035760   -0.335280   -0.822960
...              ...         ...         ...         ...
15080101         NaN         NaN         NaN         NaN
15080102    0.512064   11.137392    3.755136  -17.995392
15080200    1.444752    0.441960    3.489960  -21.396960
15080301   -2.895600    0.091440    0.944880    0.243840
15080302   -0.091440    0.243840   -0.091440   -0.548640

[74 rows x 4 columns]

In [13]:
filename = outputpath+f'/HUC12s_MeanDecadalZeroFlow.csv'
nzf_decade = pd.read_csv(filename, index_col='huc12')
del nzf_decade['Unnamed: 0']
nzf_decade

                    1980        1990        2000        2010   2020
huc12
150100010508    0.000000    0.000000    0.000000         NaN    NaN
150100010607         NaN    0.000000         NaN         NaN    NaN
150100010608         NaN    0.000000         NaN         NaN    NaN
150100020101         NaN         NaN         NaN    0.000000    0.0
150100020405    0.000000    0.000000         NaN         NaN    NaN
150100020908         NaN    0.000000    0.000000    0.000000    0.0
150100020909         NaN    0.000000    0.000000    0.000000    0.0
150100100208    1.000000    0.000000    0.000000    0.000000    0.0
150100100602    1.000000    0.000000    0.000000    0.000000    0.0
150200010403         NaN         NaN   83.000000  288.333333    NaN
150200020103    0.000000    0.000000  162.300000  295.800000  266.2
150200020709    0.000000    1.700000   32.200000   30.500000   38.0
150200080206         NaN         NaN   22.285714   53.900000    0.0
150200080510         NaN         NaN  272.500000  325.900000  329.4
150200080611         NaN         NaN    0.000000    0.000000    0.0
150200100110         NaN  257.400000  284.600000  264.300000  269.0
150200130402         NaN    0.333333   32.500000   38.600000  119.0
150200140204         NaN  283.857143  309.000000         NaN    NaN
150301040305   32.833333   36.277778         NaN         NaN    NaN
150301040306   32.833333   36.277778         NaN         NaN    NaN
150301070105         NaN         NaN    0.000000    0.000000    0.0
150302040202    0.000000    0.750000    0.300000    0.000000    0.0
150302040409  151.000000   45.666667   61.000000  143.300000    7.6
150400050909   17.166667    0.000000   22.700000    5.300000   17.8
150400050910   17.166667    0.000000   22.700000    5.300000   17.8
150400060808         NaN         NaN         NaN         NaN  240.0
150501000111    0.000000    0.000000   31.000000         NaN    NaN
150501000207    0.000000    0.000000    6.500000    6.000000   12.4
150501000208    0.000000    0.000000    6.500000    6.000000   12.4
150501000711         NaN         NaN  286.666667         NaN    NaN
150502020507         NaN   58.714286   36.300000  113.300000  258.2
150503010908    3.000000   18.333333    6.700000   62.500000    0.4
150503040405         NaN  109.285714  245.700000  337.100000  346.6
150601010308    0.000000    0.000000    0.000000    0.000000    0.0
150601020301    0.000000    0.000000    0.000000    0.000000    0.0
150601030108    0.000000    0.000000    0.000000    0.000000    0.0
150601030904    0.000000    0.000000    0.000000    0.000000    0.0
150601040105         NaN         NaN   73.000000         NaN    NaN
150601050311    4.500000    9.050000   63.100000   53.800000   91.6
150601060306         NaN         NaN  175.000000         NaN    NaN
150602020108    0.000000    0.000000    0.000000    0.000000    0.0
150602020607    0.000000    0.000000    0.000000    0.000000    0.0
150602030405   14.000000   66.000000  116.300000  105.800000  141.6
150602030408         NaN         NaN    0.000000    0.000000    0.0
150602030409         NaN         NaN    0.000000    0.000000    0.0
150701020206         NaN         NaN    6.100000    7.600000    0.0
150701020605   18.000000   61.000000         NaN         NaN    NaN
150701020607   18.000000   61.000000         NaN         NaN    NaN
150701020808         NaN  175.250000         NaN         NaN    NaN
150701030311         NaN   57.400000  227.400000  312.300000  235.2
150701030507         NaN    2.400000    4.100000   22.200000    4.8
150702010803         NaN  290.000000  313.200000  345.300000  346.8
150702011502    0.000000    0.100000    3.800000    0.200000    0.0
150803010412         NaN         NaN  271.375000  281.000000  294.6

In [14]:
# Rename the columns for clarity (optional)
nzf_decade.columns = [f"{decade}s" for decade in nzf_decade.columns]

# Calculate change between decades
nzf_change = pd.DataFrame(index=nzf_decade.index)
nzf_change["80s vs 90s"] = nzf_decade["1990s"] - nzf_decade["1980s"]
nzf_change["90s vs 00s"] = nzf_decade["2000s"] - nzf_decade["1990s"]
nzf_change["00s vs 10s"] = nzf_decade["2010s"] - nzf_decade["2000s"]
nzf_change["10s vs 20s"] = nzf_decade["2020s"] - nzf_decade["2010s"]

nzf_change

              80s vs 90s  90s vs 00s  00s vs 10s  10s vs 20s
huc12
150100010508    0.000000    0.000000         NaN         NaN
150100010607         NaN         NaN         NaN         NaN
150100010608         NaN         NaN         NaN         NaN
150100020101         NaN         NaN         NaN         0.0
150100020405    0.000000         NaN         NaN         NaN
150100020908         NaN    0.000000    0.000000         0.0
150100020909         NaN    0.000000    0.000000         0.0
150100100208   -1.000000    0.000000    0.000000         0.0
150100100602   -1.000000    0.000000    0.000000         0.0
150200010403         NaN         NaN  205.333333         NaN
150200020103    0.000000  162.300000  133.500000       -29.6
150200020709    1.700000   30.500000   -1.700000         7.5
150200080206         NaN         NaN   31.614286       -53.9
150200080510         NaN         NaN   53.400000         3.5
150200080611         NaN         NaN    0.000000         0.0
150200100110         NaN   27.200000  -20.300000         4.7
150200130402         NaN   32.166667    6.100000        80.4
150200140204         NaN   25.142857         NaN         NaN
150301040305    3.444444         NaN         NaN         NaN
150301040306    3.444444         NaN         NaN         NaN
150301070105         NaN         NaN    0.000000         0.0
150302040202    0.750000   -0.450000   -0.300000         0.0
150302040409 -105.333333   15.333333   82.300000      -135.7
150400050909  -17.166667   22.700000  -17.400000        12.5
150400050910  -17.166667   22.700000  -17.400000        12.5
150400060808         NaN         NaN         NaN         NaN
150501000111    0.000000   31.000000         NaN         NaN
150501000207    0.000000    6.500000   -0.500000         6.4
150501000208    0.000000    6.500000   -0.500000         6.4
150501000711         NaN         NaN         NaN         NaN
150502020507         NaN  -22.414286   77.000000       144.9
150503010908   15.333333  -11.633333   55.800000       -62.1
150503040405         NaN  136.414286   91.400000         9.5
150601010308    0.000000    0.000000    0.000000         0.0
150601020301    0.000000    0.000000    0.000000         0.0
150601030108    0.000000    0.000000    0.000000         0.0
150601030904    0.000000    0.000000    0.000000         0.0
150601040105         NaN         NaN         NaN         NaN
150601050311    4.550000   54.050000   -9.300000        37.8
150601060306         NaN         NaN         NaN         NaN
150602020108    0.000000    0.000000    0.000000         0.0
150602020607    0.000000    0.000000    0.000000         0.0
150602030405   52.000000   50.300000  -10.500000        35.8
150602030408         NaN         NaN    0.000000         0.0
150602030409         NaN         NaN    0.000000         0.0
150701020206         NaN         NaN    1.500000        -7.6
150701020605   43.000000         NaN         NaN         NaN
150701020607   43.000000         NaN         NaN         NaN
150701020808         NaN         NaN         NaN         NaN
150701030311         NaN  170.000000   84.900000       -77.1
150701030507         NaN    1.700000   18.100000       -17.4
150702010803         NaN   23.200000   32.100000         1.5
150702011502    0.100000    3.700000   -3.600000        -0.2
150803010412         NaN         NaN    9.625000        13.6

In [17]:
nzf_change.to_csv(outputpath+f'/HUC12_meanNZFChange.csv')

In [15]:
nzf_qualchange = nzf_change.applymap(categorize_change)
nzf_qualchange

             80s vs 90s 90s vs 00s 00s vs 10s 10s vs 20s
huc12
150100010508  no change  no change    no data    no data
150100010607    no data    no data    no data    no data
150100010608    no data    no data    no data    no data
150100020101    no data    no data    no data  no change
150100020405  no change    no data    no data    no data
150100020908    no data  no change  no change  no change
150100020909    no data  no change  no change  no change
150100100208  decreased  no change  no change  no change
150100100602  decreased  no change  no change  no change
150200010403    no data    no data  increased    no data
150200020103  no change  increased  increased  decreased
150200020709  increased  increased  decreased  increased
150200080206    no data    no data  increased  decreased
150200080510    no data    no data  increased  increased
150200080611    no data    no data  no change  no change
150200100110    no data  increased  decreased  increased
150200130402    no data  increased  increased  increased
150200140204    no data  increased    no data    no data
150301040305  increased    no data    no data    no data
150301040306  increased    no data    no data    no data
150301070105    no data    no data  no change  no change
150302040202  increased  decreased  decreased  no change
150302040409  decreased  increased  increased  decreased
150400050909  decreased  increased  decreased  increased
150400050910  decreased  increased  decreased  increased
150400060808    no data    no data    no data    no data
150501000111  no change  increased    no data    no data
150501000207  no change  increased  decreased  increased
150501000208  no change  increased  decreased  increased
150501000711    no data    no data    no data    no data
150502020507    no data  decreased  increased  increased
150503010908  increased  decreased  increased  decreased
150503040405    no data  increased  increased  increased
150601010308  no change  no change  no change  no change
150601020301  no change  no change  no change  no change
150601030108  no change  no change  no change  no change
150601030904  no change  no change  no change  no change
150601040105    no data    no data    no data    no data
150601050311  increased  increased  decreased  increased
150601060306    no data    no data    no data    no data
150602020108  no change  no change  no change  no change
150602020607  no change  no change  no change  no change
150602030405  increased  increased  decreased  increased
150602030408    no data    no data  no change  no change
150602030409    no data    no data  no change  no change
150701020206    no data    no data  increased  decreased
150701020605  increased    no data    no data    no data
150701020607  increased    no data    no data    no data
150701020808    no data    no data    no data    no data
150701030311    no data  increased  increased  decreased
150701030507    no data  increased  increased  decreased
150702010803    no data  increased  increased  increased
150702011502  no change  increased  decreased  decreased
150803010412    no data    no data  increased  increased

In [18]:
nzf_qualchange = nzf_qualchange.reset_index()
nzf_qualchange.to_csv(outputpath+f'/HUC12_NZFQualitativeChange.csv')

In [27]:
zero_flow_df = nzf_change.copy()
# Step 1: Convert HUC12 to HUC8
zero_flow_df['huc8'] = zero_flow_df.index.astype(str).str[:8]
zero_flow_df

              80s vs 90s  90s vs 00s  00s vs 10s  10s vs 20s      huc8
huc12
150100010508    0.000000    0.000000         NaN         NaN  15010001
150100010607         NaN         NaN         NaN         NaN  15010001
150100010608         NaN         NaN         NaN         NaN  15010001
150100020101         NaN         NaN         NaN         0.0  15010002
150100020405    0.000000         NaN         NaN         NaN  15010002
150100020908         NaN    0.000000    0.000000         0.0  15010002
150100020909         NaN    0.000000    0.000000         0.0  15010002
150100100208   -1.000000    0.000000    0.000000         0.0  15010010
150100100602   -1.000000    0.000000    0.000000         0.0  15010010
150200010403         NaN         NaN  205.333333         NaN  15020001
150200020103    0.000000  162.300000  133.500000       -29.6  15020002
150200020709    1.700000   30.500000   -1.700000         7.5  15020002
150200080206         NaN         NaN   31.614286       -53.9  15020008
150200080510         NaN         NaN   53.400000         3.5  15020008
150200080611         NaN         NaN    0.000000         0.0  15020008
150200100110         NaN   27.200000  -20.300000         4.7  15020010
150200130402         NaN   32.166667    6.100000        80.4  15020013
150200140204         NaN   25.142857         NaN         NaN  15020014
150301040305    3.444444         NaN         NaN         NaN  15030104
150301040306    3.444444         NaN         NaN         NaN  15030104
150301070105         NaN         NaN    0.000000         0.0  15030107
150302040202    0.750000   -0.450000   -0.300000         0.0  15030204
150302040409 -105.333333   15.333333   82.300000      -135.7  15030204
150400050909  -17.166667   22.700000  -17.400000        12.5  15040005
150400050910  -17.166667   22.700000  -17.400000        12.5  15040005
150400060808         NaN         NaN         NaN         NaN  15040006
150501000111    0.000000   31.000000         NaN         NaN  15050100
150501000207    0.000000    6.500000   -0.500000         6.4  15050100
150501000208    0.000000    6.500000   -0.500000         6.4  15050100
150501000711         NaN         NaN         NaN         NaN  15050100
150502020507         NaN  -22.414286   77.000000       144.9  15050202
150503010908   15.333333  -11.633333   55.800000       -62.1  15050301
150503040405         NaN  136.414286   91.400000         9.5  15050304
150601010308    0.000000    0.000000    0.000000         0.0  15060101
150601020301    0.000000    0.000000    0.000000         0.0  15060102
150601030108    0.000000    0.000000    0.000000         0.0  15060103
150601030904    0.000000    0.000000    0.000000         0.0  15060103
150601040105         NaN         NaN         NaN         NaN  15060104
150601050311    4.550000   54.050000   -9.300000        37.8  15060105
150601060306         NaN         NaN         NaN         NaN  15060106
150602020108    0.000000    0.000000    0.000000         0.0  15060202
150602020607    0.000000    0.000000    0.000000         0.0  15060202
150602030405   52.000000   50.300000  -10.500000        35.8  15060203
150602030408         NaN         NaN    0.000000         0.0  15060203
150602030409         NaN         NaN    0.000000         0.0  15060203
150701020206         NaN         NaN    1.500000        -7.6  15070102
150701020605   43.000000         NaN         NaN         NaN  15070102
150701020607   43.000000         NaN         NaN         NaN  15070102
150701020808         NaN         NaN         NaN         NaN  15070102
150701030311         NaN  170.000000   84.900000       -77.1  15070103
150701030507         NaN    1.700000   18.100000       -17.4  15070103
150702010803         NaN   23.200000   32.100000         1.5  15070201
150702011502    0.100000    3.700000   -3.600000        -0.2  15070201
150803010412         NaN         NaN    9.625000        13.6  15080301

In [38]:
# Step 2: Aggregate to HUC8
zero_flow_huc8 = zero_flow_df.groupby('huc8').mean()
zero_flow_huc8

          80s vs 90s  90s vs 00s  00s vs 10s  10s vs 20s
huc8
15010001    0.000000    0.000000         NaN         NaN
15010002    0.000000    0.000000    0.000000    0.000000
15010010   -1.000000    0.000000    0.000000    0.000000
15020001         NaN         NaN  205.333333         NaN
15020002    0.850000   96.400000   65.900000  -11.050000
15020008         NaN         NaN   28.338095  -16.800000
15020010         NaN   27.200000  -20.300000    4.700000
15020013         NaN   32.166667    6.100000   80.400000
15020014         NaN   25.142857         NaN         NaN
15030104    3.444444         NaN         NaN         NaN
15030107         NaN         NaN    0.000000    0.000000
15030204  -52.291667    7.441667   41.000000  -67.850000
15040005  -17.166667   22.700000  -17.400000   12.500000
15040006         NaN         NaN         NaN         NaN
15050100    0.000000   14.666667   -0.500000    6.400000
15050202         NaN  -22.414286   77.000000  144.900000
15050301   15.333333  -11.633333   55.800000  -62.100000
15050304         NaN  136.414286   91.400000    9.500000
15060101    0.000000    0.000000    0.000000    0.000000
15060102    0.000000    0.000000    0.000000    0.000000
15060103    0.000000    0.000000    0.000000    0.000000
15060104         NaN         NaN         NaN         NaN
15060105    4.550000   54.050000   -9.300000   37.800000
15060106         NaN         NaN         NaN         NaN
15060202    0.000000    0.000000    0.000000    0.000000
15060203   52.000000   50.300000   -3.500000   11.933333
15070102   43.000000         NaN    1.500000   -7.600000
15070103         NaN   85.850000   51.500000  -47.250000
15070201    0.100000   13.450000   14.250000    0.650000
15080301         NaN         NaN    9.625000   13.600000

In [43]:
# Step 3: Filter DTW data to matching HUC8s
dtw_df = dtw_change.copy()
zero_flow_huc8 = zero_flow_huc8.dropna(how='all')
dtw_df = dtw_df.dropna(how='all')
zero_flow_huc8.index = zero_flow_huc8.index.astype('int64')
common_hucs = zero_flow_huc8.index.intersection(dtw_df.index)
zero_flow_huc8 = zero_flow_huc8.loc[common_hucs]
dtw_df_filtered = dtw_df.loc[common_hucs]

dtw_df_filtered

          80s vs 90s  90s vs 00s  00s vs 10s  10s vs 20s
huc8
15010001    0.000000         NaN         NaN         NaN
15010010   -0.777240   -1.844040  -13.837920   15.788640
15020001   -1.524000    2.133600   -0.030480   -0.548640
15020002  -10.363200    1.844040    6.385560   -8.534400
15020008   -4.724400    0.609600    5.486400   -4.267200
15020010   30.480000   -6.583680   -6.522720  -16.459200
15030104   -3.048000    0.000000    1.828800    0.609600
15030107    0.000000    0.612648    3.909060   -0.272796
15030204   -0.678180    1.203960   10.424160   11.948160
15040005    2.133600    1.524000    0.000000    0.609600
15050100   -0.609600    5.593080   -4.038600    2.697480
15050202   -1.874520   -0.204216    0.981456    9.204960
15050301   -4.404360   -0.792480   -2.171700   -5.295900
15050304   -5.730240    4.232148   -2.011680   -0.208788
15060101         NaN  -11.277600         NaN         NaN
15060102   10.363200         NaN         NaN         NaN
15060103    2.148840    9.448800   -6.553200    3.505200
15060105    4.078224   -0.060960    6.461760    2.987040
15060202   -0.609600    0.868680    1.112520   -1.539240
15060203    0.304800    3.048000   -0.807720   -0.441960
15070102   -0.640080    0.457200    3.124200   -6.964680
15070103   -0.030480   -1.066800    2.590800    1.203960
15070201    0.335280    1.188720    3.352800    2.179320
15080301   -2.895600    0.091440    0.944880    0.243840

In [ ]:
# Step 4: Classify by trend
def classify_trend(zero_flow_change, dtw_change):
    if zero_flow_change > 0 and dtw_change > 0:
        return "Increased Zero Flow & Increased DTW"
    elif zero_flow_change < 0 and dtw_change > 0:
        return "Decreased Zero Flow & Increased DTW"
    elif zero_flow_change > 0 and dtw_change < 0:
        return "Increased Zero Flow & Decreased DTW"
    elif zero_flow_change < 0 and dtw_change < 0:
        return "Decreased Zero Flow & Decreased DTW"
    
    elif zero_flow_change == 0 and dtw_change < 0:
        return "No change to Zero Flow & Decreased DTW"
    elif zero_flow_change == 0 and dtw_change > 0:
        return "No change to Zero Flow & Increased DTW"

    elif zero_flow_change < 0 and dtw_change == 0:
        return "Decreased Zero Flow & No change to DTW"
    elif zero_flow_change > 0 and dtw_change == 0:
        return "Increased Zero Flow & No change to DTW"
    else:
        return "No Change in Zero Flow or DTW"

# Choose a column/decade to compare (e.g., 1980s to 1990s)
decade_col = '80s vs 90s'

# Apply classification
classification = pd.DataFrame(index=common_hucs)
classification[decade_col] = [
    classify_trend(zf, dtw)
    for zf, dtw in zip(zero_flow_huc8[decade_col], dtw_df_filtered[decade_col])
]
classification

                                      80s vs 90s
huc8
15010001           No Change in Zero Flow or DTW
15010010     Decreased Zero Flow & Decreased DTW
15020001           No Change in Zero Flow or DTW
15020002     Increased Zero Flow & Decreased DTW
15020008           No Change in Zero Flow or DTW
15020010           No Change in Zero Flow or DTW
15030104     Increased Zero Flow & Decreased DTW
15030107           No Change in Zero Flow or DTW
15030204     Decreased Zero Flow & Decreased DTW
15040005     Decreased Zero Flow & Increased DTW
15050100  No change to Zero Flow & Decreased DTW
15050202           No Change in Zero Flow or DTW
15050301     Increased Zero Flow & Decreased DTW
15050304           No Change in Zero Flow or DTW
15060101           No Change in Zero Flow or DTW
15060102  No change to Zero Flow & Increased DTW
15060103  No change to Zero Flow & Increased DTW
15060105     Increased Zero Flow & Increased DTW
15060202  No change to Zero Flow & Decreased DTW
15060203     Increased Zero Flow & Increased DTW
15070102     Increased Zero Flow & Decreased DTW
15070103           No Change in Zero Flow or DTW
15070201     Increased Zero Flow & Increased DTW
15080301           No Change in Zero Flow or DTW

In [52]:
zero_flow_huc8.columns.to_list()

['80s vs 90s', '90s vs 00s', '00s vs 10s', '10s vs 20s']

In [55]:
classification = pd.DataFrame(index=common_hucs)
# Apply classification
for i in zero_flow_huc8.columns.to_list():
    classification[i] = [
        classify_trend(zf, dtw)
        for zf, dtw in zip(zero_flow_huc8[i], dtw_df_filtered[i])
    ]
classification

,80s vs 90s,90s vs 00s,00s vs 10s,10s vs 20s
huc8,,,,
15010001,No Change in Zero Flow or DTW,No Change in Zero Flow or DTW,No Change in Zero Flow or DTW,No Change in Zero Flow or DTW
15010010,Decreased Zero Flow & Decreased DTW,No change to Zero Flow & Decreased DTW,No change to Zero Flow & Decreased DTW,No change to Zero Flow & Increased DTW
15020001,No Change in Zero Flow or DTW,No Change in Zero Flow or DTW,Increased Zero Flow & Decreased DTW,No Change in Zero Flow or DTW
15020002,Increased Zero Flow & Decreased DTW,Increased Zero Flow & Increased DTW,Increased Zero Flow & Increased DTW,Decreased Zero Flow & Decreased DTW
15020008,No Change in Zero Flow or DTW,No Change in Zero Flow or DTW,Increased Zero Flow & Increased DTW,Decreased Zero Flow & Decreased DTW
15020010,No Change in Zero Flow or DTW,Increased Zero Flow & Decreased DTW,Decreased Zero Flow & Decreased DTW,Increased Zero Flow & Decreased DTW
15030104,Increased Zero Flow & Decreased DTW,No Change in Zero Flow or DTW,No Change in Zero Flow or DTW,No Change in Zero Flow or DTW
15030107,No Change in Zero Flow or DTW,No Change in Zero Flow or DTW,No change to Zero Flow & Increased DTW,No change to Zero Flow & Decreased DTW
15030204,Decreased Zero Flow & Decreased DTW,Increased Zero Flow & Increased DTW,Increased Zero Flow & Increased DTW,Decreased Zero Flow & Increased DTW
15040005,Decreased Zero Flow & Increased DTW,Increased Zero Flow & Increased DTW,Decreased Zero Flow & No change to DTW,Increased Zero Flow & Increased DTW
15050100,No change to Zero Flow & Decreased DTW,Increased Zero Flow & Increased DTW,Decreased Zero Flow & Decreased DTW,Increased Zero Flow & Increased DTW
15050202,No Change in Zero Flow or DTW,Decreased Zero Flow & Decreased DTW,Increased Zero Flow & Increased DTW,Increased Zero Flow & Increased DTW
15050301,Increased Zero Flow & Decreased DTW,Decreased Zero Flow & Decreased DTW,Increased Zero Flow & Decreased DTW,Decreased Zero Flow & Decreased DTW
15050304,No Change in Zero Flow or DTW,Increased Zero Flow & Increased DTW,Increased Zero Flow & Decreased DTW,Increased Zero Flow & Decreased DTW
15060101,No Change in Zero Flow or DTW,No change to Zero Flow & Decreased DTW,No Change in Zero Flow or DTW,No Change in Zero Flow or DTW
15060102,No change to Zero Flow & Increased DTW,No Change in Zero Flow or DTW,No Change in Zero Flow or DTW,No Change in Zero Flow or DTW
15060103,No change to Zero Flow & Increased DTW,No change to Zero Flow & Increased DTW,No change to Zero Flow & Decreased DTW,No change to Zero Flow & Increased DTW
15060105,Increased Zero Flow & Increased DTW,Increased Zero Flow & Decreased DTW,Decreased Zero Flow & Increased DTW,Increased Zero Flow & Increased DTW
15060202,No change to Zero Flow & Decreased DTW,No change to Zero Flow & Increased DTW,No change to Zero Flow & Increased DTW,No change to Zero Flow & Decreased DTW
15060203,Increased Zero Flow & Increased DTW,Increased Zero Flow & Increased DTW,Decreased Zero Flow & Decreased DTW,Increased Zero Flow & Decreased DTW
15070102,Increased Zero Flow & Decreased DTW,No Change in Zero Flow or DTW,Increased Zero Flow & Increased DTW,Decreased Zero Flow & Decreased DTW
15070103,No Change in Zero Flow or DTW,Increased Zero Flow & Decreased DTW,Increased Zero Flow & Increased DTW,Decreased Zero Flow & Increased DTW
15070201,Increased Zero Flow & Increased DTW,Increased Zero Flow & Increased DTW,Increased Zero Flow & Increased DTW,Increased Zero Flow & Increased DTW
15080301,No Change in Zero Flow or DTW,No Change in Zero Flow or DTW,Increased Zero Flow & Increased DTW,Increased Zero Flow & Increased DTW

In [56]:
classification = classification.reset_index()
classification.to_csv(outputpath+'/stream_dtw_classifciation_decades.csv')